n8n-workflow.json
{
  "name": "AutoMarketer AI - Mock Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "automarketer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "automarketer-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst action = body.action;\nconst payload = body;\n\ndelete payload.action;\n\nreturn {\n  json: {\n    action,\n    ...payload\n  }\n};"
      },
      "id": "code-parse",
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "generate_copy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "generate_copy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "generate_strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "generate_strategy"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "analyze_lead",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "analyze_lead"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "optimize_content",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "optimize_content"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-node",
      "name": "Route Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const { topic, platform, tone, audience } = $input.first().json;\n\nconst posts = [\n  `Excited to share our latest thoughts on ${topic}. It's time to rethink how we approach ${audience}. \\n\\n#${topic.replace(/\\s+/g, '')} #Innovation`,\n  `Hot take: ${topic} is the future. \\n\\nWe've been seeing strong results. What are your thoughts? \\n\\n#${tone} #TechTrends`,\n  `Meaningful change starts with ${topic}. \\n\\nDesigned for ${audience} who demand excellence. \\n\\n#Inspiration #Leadership`\n];\n\nreturn {\n  json: posts\n};"
      },
      "id": "mock-copy",
      "name": "Mock Copy Generator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 100]
    },
    {
      "parameters": {
        "jsCode": "const { productName, goal } = $input.first().json;\n\nconst strategy = {\n  overview: `A comprehensive digital strategy for ${productName} focused on ${goal}. The approach leverages cross-channel synergy and data-driven insights.`,\n  targetAudience: \"Tech-savvy professionals aged 25-45.\",\n  keyThemes: [\"Efficiency\", \"Future of Work\", \"Data-Driven\"],\n  suggestedPosts: [\n    {\n      platform: \"LinkedIn\",\n      content: `${productName} is redefining industry standards for ${goal}. #BusinessGrowth`,\n      hashtags: [\"Innovation\", \"B2B\"],\n      bestTime: \"Tuesday 10:00 AM\"\n    },\n    {\n      platform: \"Twitter\",\n      content: `Stop wasting time. ${productName} is here. #${productName.replace(/\\s+/g, '')}`,\n      hashtags: [\"Productivity\", \"Tech\"],\n      bestTime: \"Wednesday 02:00 PM\"\n    }\n  ]\n};\n\nreturn {\n  json: strategy\n};"
      },
      "id": "mock-strategy",
      "name": "Mock Strategy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 250]
    },
    {
      "parameters": {
        "jsCode": "const { name, source, interactions } = $input.first().json;\n\nconst baseScore = 60;\nconst randomFactor = Math.floor(Math.random() * 30);\n\nconst result = {\n  score: Math.min(100, baseScore + randomFactor),\n  reason: `High engagement level detected for ${name}. Analysis suggests strong intent based on ${source} interactions and ${interactions} engagement history.`\n};\n\nreturn {\n  json: result\n};"
      },
      "id": "mock-lead",
      "name": "Mock Lead Scorer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "jsCode": "const { originalText, goal } = $input.first().json;\n\nconst result = {\n  original: originalText,\n  optimized: `[Optimized for ${goal}] \\n\\n${originalText} \\n\\nClick here to learn more.`,\n  changesMade: \"Added an engaging hook, improved sentence flow, and included a clear call-to-action.\"\n};\n\nreturn {\n  json: result\n};"
      },
      "id": "mock-optimize",
      "name": "Mock Optimizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-copy",
      "name": "Respond Copy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-strategy",
      "name": "Respond Strategy",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-lead",
      "name": "Respond Lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-optimize",
      "name": "Respond Optimize",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 550]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"Unknown action\" }",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 700]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Route Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action": {
      "main": [
        [
          {
            "node": "Mock Copy Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Strategy",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Lead Scorer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Optimizer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Copy Generator": {
      "main": [
        [
          {
            "node": "Respond Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Strategy": {
      "main": [
        [
          {
            "node": "Respond Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Lead Scorer": {
      "main": [
        [
          {
            "node": "Respond Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Optimizer": {
      "main": [
        [
          {
            "node": "Respond Optimize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
